<% @peeps.reverse.each do |peep| %>
  <ul id="feed-box">
    <ol class="peep">
      <b class="peep-user">@<%= peep.username %></b> <%= peep.message %>
      <div class="peep-time"><%= relative_time(peep.created_at) %></div>
    </ol>
  </ul>
<% end %>


<% if current_user %>
  <form action = '/feed/new'>
    <input type='submit' value='Write peep'>
  </form>
<% else %>
  <form action = '/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>
  <form action = '/users/new'>
    <input type='submit' value='Register'>
  </form>
<% end %>
