<% @peeps.reverse.each do |peep| %>
  <ul id="feed-box">
    <ol>
      <b>@<%= peep.username %></b>
      <%= peep.message %>
      <%= peep.time %>
    </ol>
  </ul>
<% end %>


<% if current_user %>
  <form action = '/feed/new'>
    <input type='submit' value='Write peep'>
  </form>
<% else %>
  <form action = '/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>
  <form action = '/users/new'>
    <input type='submit' value='Register'>
  </form>
<% end %>
